*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {all: unset;display: revert;}
*,
*::before,
*::after {box-sizing: border-box;}
a, button {cursor: revert;}
ol, ul, menu {list-style: none;}
img {max-inline-size: 100%;max-block-size: 100%;}
table {border-collapse: collapse;}
input, textarea {-webkit-user-select: auto;}
textarea {white-space: revert;}
meter {-webkit-appearance: revert;appearance: revert;}
pre {all: revert;}
::placeholder {color: unset;}
::marker {content: initial;}
:where([hidden]) {display: none;}
:where([contenteditable]:not([contenteditable="false"])) {-moz-user-modify: read-write;-webkit-user-modify: read-write;overflow-wrap: break-word;-webkit-line-break: after-white-space;-webkit-user-select: auto;}
:where([draggable="true"]) {-webkit-user-drag: element;}
:where(dialog:modal) {all: revert;}
body{
    padding: 30px;
    font-family: 'Karla', sans-serif;
    background: url("/img/frame1.png") center/cover no-repeat;
}


.main{
    max-width: 628px;
    min-height: 628px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 40px;
    background: #F6FBF9;
    border-radius: 49.0901px;
}
.form-group {
    margin: 0 auto;
    margin-top: 10%;
   

}

.b{
    border: 1px solid orange;
    min-height: 84px;
    transition: 1s;
    width: 100%;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    border-radius: 15.3407px;
    display: block;
    text-align: left;
    padding: 32px;
}

.button{
    padding: 23px 72px;
    min-height: 90px;
    font-weight: 700;
    font-size: 33.7495px;
    line-height: 44px;
    background: #84C7AE;
    border-radius: 23.011px;    
    color: #fff;
    margin-top: 32px;
    margin-bottom: 16px;
}

.form-title {
    font-weight: 700;
    font-size: 55.2264px;
    line-height: 72px;
}
.form-text {
    font-weight: 400;
    font-size: 23.011px;
    line-height: 30px;
  
}


.have-acc {
    font-weight: 400;
    font-size: 21.4769px;
    line-height: 28px;
}
@media (max-width:410px) {
    .form-title{
        font-size: 40px;
    }
    .button{
        font-weight: 600;
        min-height: 70px;
        font-size: 25px;
        padding: 10px 40px;
    }
}
